{% extends "bootstrap/base.html" %}

{% block styles %}
    <link href="{{ url_for('calendar.static', filename='fullcalendar.min.css') }}" rel='stylesheet' />
    <link href="{{ url_for('calendar.static', filename='fullcalendar.print.css') }}" rel='stylesheet' media='print' />
    <link href="{{ url_for('calendar.static', filename='calendar.css') }}" rel='stylesheet' />
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('calendar.static', filename='calender_lib/moment.min.js') }}"></script>
    <script src="{{ url_for('calendar.static', filename='calender_lib/jquery.min.js') }}"></script>
    <script src="{{ url_for('calendar.static', filename='fullcalendar.min.js') }}"></script>
    <script src="{{ url_for('calendar.static', filename='calendar.js') }}"></script>
{% endblock %}

{% block content %}
	<div id='script-warning'>
		Error getting data from <code>/data</code> endpoint.
	</div>
	<div id='loading'>loading...</div>
	<div id='calendar'></div>
{% endblock %}
