{% extends "base.html" %}
{% block title %}Account Details{% endblock %}

{% block page_content %}
    <div class="jumbotron">
        <h1 class="display-4">{{ user.name }}</h1>
        <p class="lead">{{ user.email }}</p>
        <hr class="my-4">
        <p class="lead">
            <a class="btn btn-info" href="{{ url_for('edurec.index') }}">Education Records</a>
            <a class="btn btn-info" href="{{ url_for('uhms.index') }}">Housing Services</a>
        </p>
    </div>
{% endblock %}
