{% extends "bootstrap/base.html" %}
{% from "bootstrap/nav.html" import render_nav_item %}
{% from "bootstrap/utils.html" import render_messages %}

{% block title %}{{ title }}{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="navbar-nav mr-auto">
            {{ render_nav_item("core.index", "Home") }}
            {{ render_nav_item("luminus.index", "LumiNUS") }}
        </div>
        <div class="navbar-nav navbar-right">
            {% if current_user.is_authenticated %}
            {{ render_nav_item("core.account", current_user.name) }}
            {{ render_nav_item("users.logout", "Logout") }}
            {% endif %}
        </div>
    </nav>
{% endblock %}

{% block content %}
    {{ render_messages() }}
    {% block app_content %}{% endblock %}
{% endblock %}

{% block scripts %}
    {{ super() }}
    {{ moment.include_moment() }}
{% endblock %}
