{% extends "bootstrap/base.html" %}
{% from "bootstrap/nav.html" import render_nav_item %}
{% from "bootstrap/utils.html" import render_messages %}

{% block title %}{{ title }}{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="navbar-nav mr-auto">
            {{ render_nav_item("core.index", "Home") }}
            {% if current_user.is_authenticated %}
            <li class="nav-item dropdown">
                {% if current_user.get_current_modules() %}
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Modules</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    {% for module in current_user.get_current_modules() %}
                    <a class="dropdown-item" href="{{ url_for('luminus.view_module', index=loop.index-1) }}">{{ module.get_formatted_name() }}</a>
                    {% endfor %}
                </div>
                {% endif %}
            </li>
            {% endif %}
        </div>
        <div class="navbar-nav navbar-right">
            {% if current_user.is_authenticated %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {% if current_user.profile %}
                    {{ current_user.profile.get_full_name() }}
                    {% else %}
                    {{ current_user.username }}
                    {% endif %}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    {% if current_user.profile %}
                    <a class="dropdown-item" href="{{ url_for('edurec.index') }}">Profile</a>
                    {% endif %}
                    <a class="dropdown-item" href="{{ url_for('uhms.index') }}">Hostel</a>
                    {% if current_user.is_admin %}
                    <a class="dropdown-item" href="{{ url_for('admin.index') }}">Admin CP</a>
                    {% endif %}
                </div>
            </li>
            {{ render_nav_item("users.logout", "Logout") }}
            {% endif %}
        </div>
    </nav>
{% endblock %}

{% block messages %} 
    {{ render_messages() }}
{% endblock %}

{% block content %}
    {% block app_content %}{% endblock %}
{% endblock %}

{% block scripts %}
    {{ super() }}
    {{ moment.include_moment() }}
{% endblock %}
