{% extends "base.html" %}
{% block title %}Homepage{% endblock %}

{% block page_content %}
    <div class="row">
        <div class="col-sm-4">
            <div class="col-sm-12">
                <h3>Annoucements</h3>
                <div class="accordion">
                    {% for announcement in announcement_list %}
                    <div class="card">
                        <div class="card-header" id="heading_announcement{{ loop.index }}">
                          <h2 class="mb-0">
                            <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse{{ loop.index }}" aria-expanded="true" aria-controls="collapse{{ loop.index }}">
                              {{announcement.module.code}}:  {{announcement.title}} <br>                                                      
                            </button>
                            <p style = "font-size:16px">&nbsp &nbsp{{announcement.date.strftime('%B %d %Y')}}</p>
                          </h2>
                        </div>
                    
                        <div id="collapse{{ loop.index }}" class="collapse show" aria-labelledby="heading_announcement{{ loop.index }}">
                          <div class="card-body">
                            {% for line in announcement.body.splitlines() %}
                            {{line}} <br>
                            {% endfor %}
                          </div>
                        </div>
                      </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-sm-12">
                <h3>Upcoming Tasks/Exams</h3>
                <div class="accordion">
                  {% for task_exam in task_exam_list %}
                    {% if isinstance(task_exam, Task) %}
                      <div class="card">
                        <div class="card-header" id="heading_task{{ loop.index }}">
                          <h2 class="mb-0">
                            <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse1{{ loop.index }}" aria-expanded="true" aria-controls="collapse{{ loop.index }}">
                              {{task_exam.module.code}}:  {{task_exam.taskname}}
                              <br>                                                      
                            </button>
                            <p style = "font-size:16px">&nbsp &nbsp{{task_exam.timestamp.strftime("Due Date: %m/%d/%Y, %H%M")}}</p>
                          </h2>
                        </div>
                    
                        <div id="collapse1{{ loop.index }}" class="collapse show" aria-labelledby="heading_task{{ loop.index }}">
                          <div class="card-body">
                            {% for line in task_exam.taskinfo.splitlines() %}
                            {{line}} <br>
                            {% endfor %}
                          </div>
                        </div>
                      </div>

                    {% elif isinstance(task_exam, Exam) %}          
                      {% for details in exam_details_list %}
                        {% if  details.exam_id ==  task_exam.id %}
                          {% set current = details %}            
                          <div class="card">
                            <div class="card-header" id="heading_exam{ loop.index }}">
                              <h2 class="mb-0">
                                <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse_exam{{ loop.index }}" aria-expanded="true" aria-controls="collapse{{ loop.index }}">
                                  {{task_exam.module.code}}:  {{task_exam.examname}}
                                  <br>                                                      
                                </button>
                                <p style = "font-size:16px">&nbsp &nbsp{{task_exam.timestamp.strftime("Test Date: %m/%d/%Y, %H%M")}}</p>
                                <p style = "font-size:16px">&nbsp &nbspLocation:  {{task_exam.location}}</p>
                              </h2>
                            </div>
                        
                            <div id="collapse_exam{{ loop.index }}" class="collapse show" aria-labelledby="heading_exam{{ loop.index }}">
                              <div class="card-body">
                                <p style = "font-size:16px">Seat Number: {{current.seatnum}}</p> 
                                {% for line in task_exam.examinfo.splitlines() %}
                                {{line}} <br>
                                {% endfor %}
                              </div>
                            </div>
                          </div>
                        {% endif %}
                      {% endfor %}
                    {% endif %}

                  {% endfor %}
              </div>
            </div>
        </div>

        <div class="col-sm-8">
            <h3>Personalised Calendar</h3>
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="{{ url_for('calendar.index') }}"></iframe>
            </div>
        </div>
    </div>
{% endblock %}
