{% extends "bootstrap/base.html" %}

{% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="{{ url_for('admin.index') }}">Admin Panel</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">

                <!-- User -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">User</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="{{ url_for('admin.user_create') }}">Register</a>
                    </div>
                </li>

                <!-- Module -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Module</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="{{ url_for('admin.module_create') }}">Create Module</a>
                        <a class="dropdown-item" href="{{ url_for('admin.module_annoucement_create') }}">Post Annoucement</a>
                        <a class="dropdown-item" href="{{ url_for('admin.module_task_create') }}">Create Task</a>
                        <a class="dropdown-item" href="{{ url_for('admin.module_exam_create') }}">Create Exam</a>
                        <a class="dropdown-item" href="{{ url_for('admin.module_user_create') }}">Enroll user to module</a>
                        <a class="dropdown-item" href="{{ url_for('admin.module_exam_user_create') }}">Enroll user to exam</a>
                    </div>
                </li>

                <!-- UHMS -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">UHMS</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="{{ url_for('admin.uhms_message_create') }}">Create Message</a>
                    </div>
                </li>

            </ul>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-5">  
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <div class="alert alert-{{category}}" role="alert">
                                {{message}}
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                
                {% block page_content %}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
