{% extends "admin_base.html" %}
{% block title %}User::Create{% endblock %}

{% block page_content %}
    <form method="POST">
        {% for error in form.errors %}
            <div class="alert alert-danger" role="alert">
                <a class="close" data-dismiss="alert">×</a>
                <span>{{form.errors[error][0]}}</span>
            </div>
        {% endfor %}
        <div class="form-group">
            {{form.name.label(class="form-group")}}
            {{form.name(class="form-control")}}
        </div>                   
        <div class="form-group">
            {{form.nusnetid.label(class="form-group")}}
            {{form.nusnetid(class="form-control")}}
        </div>
        <div class="form-group">
            {{form.password.label(class="form-group")}}
            {{form.password(class="form-control")}}
        </div>
        <div class="form-group">
            {{form.password_confirm.label(class="form-group")}}
            {{form.password_confirm(class="form-control")}}
        </div>
        <div class="form-group">
            {{form.email.label(class="form-group")}}
            {{form.email(class="form-control")}}
        </div>  
        <div class="form-group">
            {{form.hidden_tag()}}
            {{form.submit(class="btn btn-primary")}}
        </div>
    </form>
{% endblock %}
