{% extends "base.html" %}
{% block title %}Create Exam{% endblock %}

{% block page_content %}
    <div class="row">
        <div class="col-sm-1">
        </div>
        <div class="col-sm-10">
            <form method="POST">
                {% for error in form.errors %}
                    <div class="alert alert-danger" role="alert">
                        <a class="close" data-dismiss="alert">×</a>
                        <span>{{form.errors[error][0]}}</span>
                    </div>
                {% endfor %}
                <div class="form-group">
                    {{form.code.label(class="form-group")}}
                    {{form.code(class="form-control")}}
                </div>                   
                <div class="form-group">
                    {{form.academic_year.label(class="form-group")}}
                    {{form.academic_year(class="form-control")}}
                </div>
                <div class="form-group">
                    {{form.semester.label(class="form-group")}}
                    {{form.semester(class="form-control")}}
                </div>
                <div class="form-group">
                    {{form.examname.label(class="form-group")}}
                    {{form.examname(class="form-control")}}
                </div>
                <div class="form-group">
                    {{form.examinfo.label(class="form-group")}}
                    {{form.examinfo(class="form-control", rows=10)}}
                </div> 
                <div class="form-group">
                    {{form.day.label(class="form-group")}}
                    {{form.day()}}
                    {{form.month()}}
                    {{form.year()}}
                </div> 
                <div class="form-group">
                    {{form.hour.label(class="form-group")}}
                    {{form.hour()}}
                    {{form.minute()}}
                </div> 
                <div class="form-group">
                    {{form.hidden_tag()}}
                    {{form.submit(class="btn btn-primary form-control")}}
                </div>
            </form>
        </div>
        <div class="col-sm-1">    
        </div>
    </div>
{% endblock %}