{% extends "base.html" %}
{% block title %}LumiNUS{% endblock %}

{% block app_content %}
    <div class="row">
        <div class="col-md-2">
            <ul class="list-group">
                {% for module in module_list %}
                    <a href="{{ url_for('luminus.index', module_index=loop.index-1) }}" class="list-group-item list-group-item-action">
                        {{ module.code }}
                    </a>
                {% endfor %}
            </ul>
        </div>
        <div class="col-md-10">
            <div class="embed-responsive embed-responsive-1by1">
                <iframe class="embed-responsive-item" src="{{ iframe }}"></iframe>
            </div>
        </div>
    </div>
{% endblock %}
