{% extends "base.html" %}

{% block title %}
    <title>LumiNUS</title>
{% endblock %}

{% block content %}
    <div class="row">
        {% for module in modules %}
            <div class="col col-sm-4">
                <ul class="list-group"></ul>              
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">{{module.code}}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">{{module.name}}</h6>
                            <p class="card-text">AY{{module.academic_year}} Semester {{module.semester}}</p>
                            <a href="{{url_for('luminus.view_module', code=module.code)}}" class="card-link">View Module</a>
                        </div>
                    </div>
                </ul>
            </div>
        {% endfor %}
    </div>
{% endblock %}