{% extends "bootstrap/base.html" %}
{% block title %}{% endblock %}
{% block navbar %}{% endblock %}

{% block content %}
    <ul class="nav nav-tabs">
        {% if not plugins %}
            <div class="col-md-10">
                <h1>NO PLUGINS FOUND.</h1>
            </div>
        {% else %}
            {% for plugin in plugins %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ plugin.url }}">{{ plugin.title }}</a>
                </li>
            {% endfor %}
        {% endif %}
    </ul>
{% endblock %}
