{% extends "base.html" %}
{% block title %}Admin Control Panel{% endblock %}

{% block app_content %}
    <div class="row justify-content-md-center">
        <div class="col-md-3">
            <!-- User Related -->
            <div class="card">
                <h5 class="card-header text-center">User Related</h5>
                <div class="card-body">
                    <table class="table table-hover table-bordered">
                        <tbody>
                            <tr>
                                <td class="text-right">User</td>
                                <td class="text-left">
                                    <a href="{{ url_for('admin.index', page='register_user') }}" class="btn btn-success align-items-start">Create</a>
                                    <a href="{{ url_for('admin.index', page='unregister_user') }}" class="btn btn-danger align-items-start">Delete</a>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-right">User Profile</td>
                                <td class="text-left">
                                    <a href="{{ url_for('admin.index', page='create_profile') }}" class="btn btn-success align-items-start">Create</a>
                                    <a href="{{ url_for('admin.index', page='delete_profile') }}" class="btn btn-danger align-items-start">Delete</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <br>
            <!-- Module Related -->
            <div class="card">
                <h5 class="card-header text-center">Module Related</h5>
                <div class="card-body">
                    <table class="table table-hover table-bordered">
                        <tbody>
                            <tr>
                                <td class="text-right">Module</td>
                                <td class="text-left">
                                    <a href="{{ url_for('admin.index', page='create_module') }}" class="btn btn-success align-items-start">Create</a>
                                    <a href="{{ url_for('admin.index', page='delete_module') }}" class="btn btn-danger align-items-start">Delete</a>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-right">Student Enrolment</td>
                                <td class="text-left">
                                    <a href="{{ url_for('admin.index', page='enroll_student') }}" class="btn btn-success align-items-start">Create</a>
                                    <a href="{{ url_for('admin.index', page='unenroll_student') }}" class="btn btn-danger align-items-start">Delete</a>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-right">Module Announcement</td>
                                <td class="text-left">
                                    <a href="{{ url_for('admin.index', page='post_announcement') }}" class="btn btn-success align-items-start">Create</a>
                                    <a href="{{ url_for('admin.index', page='delete_announcement') }}" class="btn btn-danger align-items-start">Delete</a>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-right">Module Task</td>
                                <td class="text-left">
                                    <a href="{{ url_for('admin.index', page='post_task') }}" class="btn btn-success align-items-start">Create</a>
                                    <a href="{{ url_for('admin.index', page='delete_task') }}" class="btn btn-danger align-items-start">Delete</a>                                    
                                </td>
                            </tr>
                            <tr>
                                <td class="text-right">Task Assignment</td>
                                <td class="text-left">
                                    <a href="{{ url_for('admin.index', page='assign_task') }}" class="btn btn-success align-items-start">Create</a>
                                    <a href="{{ url_for('admin.index', page='unassign_task') }}" class="btn btn-danger align-items-start">Delete</a>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-right">Upload Files</td>
                                <td class="text-left">
                                    <a href="{{ url_for('admin.index', page='upload_files') }}" class="btn btn-info align-items-start">Proceed</a>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-right">Enable/Disable Plugin</td>
                                <td class="text-left">
                                    <a href="{{ url_for('admin.index', page='toggle_plugin') }}" class="btn btn-info align-items-start">Proceed</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <br>
            <!-- Hostel Related -->
            <div class="card">
                <h5 class="card-header text-center">Hostel Related</h5>
                <div class="card-body">
                    <table class="table table-hover table-bordered">
                        <tbody>
                            <tr>
                                <td class="text-right">Hostel</td>
                                <td class="text-left">
                                    <a href="{{ url_for('admin.index', page='create_hostel') }}" class="btn btn-success align-items-start">Create</a>
                                    <a href="{{ url_for('admin.index', page='delete_hostel') }}" class="btn btn-danger align-items-start">Delete</a>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-right">Hostel Room</td>
                                <td class="text-left">
                                    <a href="{{ url_for('admin.index', page='create_room') }}" class="btn btn-success align-items-start">Create</a>
                                    <a href="{{ url_for('admin.index', page='delete_room') }}" class="btn btn-danger align-items-start">Delete</a>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-right">Manage Application</td>
                                <td class="text-left">
                                    <a href="{{ url_for('admin.index', page='manage_application') }}" class="btn btn-info align-items-start">Proceed</a>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-right">Hostel Message</td>
                                <td class="text-left">
                                    <a href="{{ url_for('admin.index', page='broadcast_message') }}" class="btn btn-success align-items-start">Create</a>
                                    <a href="{{ url_for('admin.index', page='delete_broadcast_message') }}" class="btn btn-danger align-items-start">Delete</a>
                                </td>
                            </tr>                            
                        </tbody>
                    </table>
                </div>
            </div>
            <br>
            <!-- Telegram Related -->
            <div class="card">
                <h5 class="card-header text-center">Telegram Related</h5>
                <div class="card-body">
                    <table class="table table-hover table-bordered">
                        <tbody>
                            <tr>
                                <td class="text-right">Telegram Webhook</td>
                                <td class="text-left">
                                    <a href="{{ url_for('admin.index', page='toggle_telegram') }}" class="btn btn-info align-items-start">Proceed</a>
                                </td>
                            </tr>                     
                        </tbody>
                    </table>
                </div>
            </div>
            <br>
        </div>

        {% if page %}
        <div class="col-md-4">
            <div class="embed-responsive embed-responsive-1by1 h-100">
                <iframe class="position-absolute embed-responsive-item" src="{{ page }}"></iframe>
            </div>
        </div>
        {% endif %}
    </div>
{% endblock %}
