{% extends "base.html" %}
{% block title %}UHMS{% endblock %}

{% block page_content %}
<div class="row">
    <div class="col-sm-4">
        <div class="col-sm-12">
            <h3 font style="color:#3366ff">Messages</h3>
            <div class="accordion">
                {% for message in message_list %}
                <div class="card">
                    <div class="card-header" id="heading_message{{ loop.index }}">
                      <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse{{ loop.index }}" aria-expanded="true" aria-controls="collapse{{ loop.index }}">
                          {{message.title}} <br>                                                      
                        </button>
                        <p style = "font-size:16px">&nbsp &nbsp{{message.date.strftime('%B %d %Y')}}</p>
                      </h2>
                    </div>
                
                    <div id="collapse{{ loop.index }}" class="collapse show" aria-labelledby="heading_message{{ loop.index }}">
                      <div class="card-body">
                        {% for line in message.body.splitlines() %}
                        {{line}} <br>
                        {% endfor %}
                      </div>
                    </div>
                  </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-sm-12">
            <h3 font style="color:#3366ff">Useful Resources</h3>
            <div class="jumbotron">
                <a href="http://nus.edu.sg/osa/contact">Hostal's Contact</a> <br>
                <a href="https://www.hosteladmission.nus.edu.sg/">Queries? Ask us</a> <br>
                <a href="http://map.nus.edu.sg/">Campus Map</a>
            </div>
        </div>
    </div>

    <div class="col-sm-8">
        <h3 font style="color:#3366ff">Welcome to the UHMS</h3> <br>
        <p style = "font-size:16px">1. If you wish to submit a hostel application/registration, view your results or pay the semester acceptance fee, please click on the "Application" tab located at the top menu or click here. Please note that the online hostel application, registration or acceptance period is from 10.00am (first day) to 11.59pm (last day), Singapore time unless otherwise stated.</p>
        <p style = "font-size:16px">2. If you are unsuccessful in your application and wish to submit an appeal, please click on the "Application"  tab located at the top menu or click here. Choose the relevant term that you are appealing for by clicking the radio button. Click “Save & Continue” button to proceed.</p>
        <p style = "font-size:16px">3. If you have been invoiced by the hostel management office and wish to make an online payment for your hostel fees, please click on the "Fees/Payment" tab located at the top menu.</p>
        <p style = "font-size:16px">4. Only selected students are able to register for the Residential Colleges. Students shortlisted by the colleges are ineligible to apply for a place in the Halls or Residences. If you are unable to access the correct hostel application process, please contact Hostel Admission Services.</p>
        <p style = "font-size:16px">5. Non-Graduating Students who are are staying for another semester need not re-apply for their second semester stay. They will be contacted before the end of their first semester regarding their extension of stay.</p>
        <p style = "font-size:16px">6. Undergraduate and Graduate students who were successful in their semester 1 hostel application and have existing reservation for semester 2 need not re-apply during semester 2 application exercise.</p>
        <p style = "font-size:16px">7. You will not be able to submit an application if you are:</p>
        <ul>
            <li style = "font-size:16px">You are not eligible for an NUS student accommodation i.e. part time student, graduated or withdrawn from NUS.</li>
            <li style = "font-size:16px">You have not accepted your NUS offer via the Graduate Admission System (applicable to new graduate students only).</li>
            <li style = "font-size:16px">On Leave of Absence (LOA)</li>
            <li style = "font-size:16px">Barred from applying due to disciplinary reasons</li>
            <li style = "font-size:16px">Barred from applying due to financial reasons i.e. outstanding hostel fees</li>
            <li style = "font-size:16px">Not offered to study in NUS for the upcoming academic year.</li>
        </ul>
        <p style = "font-size:16px">For queries, please submit your queries via <a href="https://www.hosteladmission.nus.edu.sg/">www.hosteladmission.nus.edu.sg</a></p> <br>
        
        <h4 font style="color:#3366ff">Definitions of Application Status</h3> <br>
        <ul>
            <li style = "font-size:16px"><b>In-Progress</b> – You have not completed your application/registration.</li>
            <li style = "font-size:16px"><b>Pending</b> – You have completed your application/registration.</li>
            <li style = "font-size:16px"><b>Offered</b> – You have been offered a room. Please accept the offer and pay the acceptance fee before the deadline.</li>
            <li style = "font-size:16px"><b>Offer Accepted</b> –  You have accepted the offer and completed the e-Orientation Module but have not paid the acceptance fee.</li>
            <li style = "font-size:16px"><b>Successful</b> – You have paid the acceptance fee and your reservation is confirmed.</li>
            <li style = "font-size:16px"><b>Unsuccessful</b> – We are unable to offer you a room. Your application may be considered if there are vacancies later on.</li>
            <li style = "font-size:16px"><b>Offer Lapsed</b> – Your offer has been withdrawn and reoffered to another student as we did not receive your acceptance fee.  </li>
            <li style = "font-size:16px"><b>Not Eligible</b> – Your application has been rejected. Please refer to our email notification for more information.</li>
            <li style = "font-size:16px"><b>Application Rejected</b> – Your application has been rejected as we did not receive your application fee.</li>
            <li style = "font-size:16px"><b>Endorsed</b> - You have accepted the offer, completed the e-Orientation Module and have made other arrangement for your acceptance fee payment.</li>
            <li style = "font-size:16px"><b>Semester 2 Confirmed</b> – Your reservation for Semester 2 is confirmed.</li>
            <li style = "font-size:16px"><b>Appeal Received</b> – You have submitted the appeal. The appeal will be reviewed soon. You may also check the application status on the appeal results release date as stated in the “Appeal Submission” Page.</li>
            <li style = "font-size:16px"><b>Appeal Unsuccessful</b> – Your appeal is not successful at this stage but will be considered during subsequent rounds of reoffers.
            </li>
        </ul>
    </div>
</div>
{% endblock %}
